<h2>Projects</h2>
<p>NOTE: For sites where a live instance of a website is running multiple refreshes of the site may be needed to view it. Due to finanicial diffuculties I am only able to have the sites active when someone visits them. Apologies for any inconvienience.</p>
<ul style="list-style: none;">
    <li><h2>Jurassic World Assistant</h2><p>Description:<br> Java Spring Boot MVC app used to assess compatibility of in game assets (app runs outside of video game) <br>
Uses custom JPA query<br>
<a href="https://github.com/gfike19/dino-park">Link to Source Code</a> <br>
<a href="https://dino-park-production.up.railway.app">Link to Running Instance of App</a>
</p></li>
<li>
    <h2>Arcana and Spellbook App</h2>
    <p>Description:</p>
    <p>Built to review Spring Boot knowledge, and demo Angular knowledge
    <br>Utilizes JPA, API design, Angular, and persistence<br>
    <a href="https://github.com/gfike19/Arcana">Link to Arcana Source Code</a>
    <a href="https://web-production-42823.up.railway.app/spellbook">Working Arcana Instance</a>
    <a href="https://github.com/gfike19/spellbook-app">Link to Spellbook App Source Code</a>
    Working instance of Spellbook App in progress!
</p>
</li>
<li>
    <h2>Binary Background Generator</h2>
    <p>Description:</p>
    <p>Python Flask app that takes user input to generate an image with the text repeating over and over<br>
    Uses Pillow library and custom class<br>
    <a href="https://github.com/gfike19/bin-back-site">Link to Source Code</a><br>
    <a href="https://web-production-b2d7.up.railway.app/">Link to Running Instance of Site</a>
    </p>
</li>
</ul>
